<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MVC | The Tech Blog | Model View Controller</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <nav>
      <a href="/">Home</a>
      {{#if loggedIn}}
      <a href="/dashboard">Dashboard</a>
      <a href="/" id="logout">Logout</a>
      {{else}}
      <a href="/login">Login</a>
      {{/if}}
    </nav>
      <h1>
        The Tech Blog
      </h1>
    </header>
    
    <main>
      {{{ body }}}
    </main>
  </div>

  <footer>
    <h3>Created By William Lowrimore, March 2022
    <a class="github" href="https://github.com/wlowrimore/Vandy-bc-2022-MVC-Tech-Blog-Chlng-14" target="_blank"> | GITHUB |</h3></a>
  </footer>
    

  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
  
</body>
</html>