<div class="card">
  <form class="login-form">
    <h1 class="form-title">Create A New Post</h1>
    <div>
      <label for="post-title">Title</label>
      <input type="text" id="post-title" />
    </div>
    <div>
      <label for="post-content">Content</label>
      <input type="text" id="post-content" />
    </div>
    <div>
      <button type="submit">CREATE</button>
    </div>
  </form>
</div>

<script src="/javascript/post.js"></script>