* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: #333;
}

a {
  text-decoration: none;
  color: #e2e5e3;
  padding: 12px 14px 0 0;
  font-size: 22px;
  transition: color .1s;
}

a:hover {
  color: #81b655;
}

.card {
  margin-bottom: 12px;
  background-color: #e2e5e3;
  border: 4px solid #6b6245;
  border-radius: 6px;
  padding: 12px 14px 0 14px;
}

.form-title {
  display: flex;
  color: #e2e5e3;
  background-color: #6b6245;
  padding: 24px;
  margin: -14px;
}

button {
  color: #e2e5e3;
  font-weight: bold;
  font-size: 22px;
  background-color: #6b6245;
  border: 0;
  padding: 1%;
  transition: background-color .1s;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
}

button:hover {
  background-color: #366845;
}

.signup-link {
  color: #6b6245;
  font-size: 32px;
  line-height: 2;
  width: 8%;
}

.post-list {
  margin: 0;
  padding: 0;
}

textarea, input {
  padding: .5%;
  border-radius: 5px;
  border: 1px solid #6b6245;
  width: 100%;
  height: 40px;
}

textarea:focus, input:focus {
  font-size: 22px;
  outline: none;
  border: 1px solid #3486eb;
}

textarea {
  min-width: 40%;
  min-height: 100px;
}

form > div {
  margin-bottom: 1%;
  margin-top: 5%;
}

form label {
  display: block;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  /* max-width: 1200px; */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

header h1 {
  color:#366845;
  background-color: #e2e5e3;
  font-size: 3em;
  margin-top: 12px;
  padding: 12px 12px;
  border: 2px solid #366845;
  border-radius: 12px;
}

header {
  background-color: #6b6245;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 3%;
}

.post-card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  background-color: #e2e5e3;
  border: 6px solid #6b6245;
  border-radius: 12px;
  margin-bottom: 12px;
}

/* Create Post Form */
.create-post {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  background-color: #e2e5e3;
  border: 6px solid #6b6245;
  border-radius: 12px;
  margin-bottom: 12px;
  padding: 0 12px 0 12px;
}

.post-p {
  font-size: 18px;
  padding-left: 12px;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 4px;
}
.post-view {
  color: #000;
  font-size: 22px;
  font-weight: bold;
  padding: 8px 0 4px 12px;
}

.post-owner {
  font-size: 13px;
  font-weight: strong;
  padding-left: 12px;
  margin-bottom: -10px;
}

main {
  flex: 1;
  padding: 2% 4%;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: #225ca3;
  font-size: 100%;
  font-weight: bold;
  transition: color .1s;
  margin-left: 16px;
}

.btn-no-style:hover {
  background: none;
  color: #3486eb;
}

.delete-post-btn {
  background-color: #d41414;
}

.delete-post-btn:hover {
  background-color: #ff643d;
}

.post {
  margin-bottom: 2%;
  line-height: 150%;
}

.post .title span {
  font-style: italic;
  font-size: 90%;
  color: #7d7d7d;
}

.edit-link {
  display: block;
  margin: -1.5% 0 2% 0;
}

.upvote-btn {
  background-color: #197d0f;
  transition: background-color .1s;
}

.upvote-btn:hover {
  background-color: #1f9c13;
}

.comment-form {
  margin-bottom: 5%;
}

.comment {
  padding: 1%;
  margin-bottom: 1%;
}

.comment:nth-child(odd) {
  background-color: #fff5eb;
}

.comment .meta {
  font-size: 90%;
  margin-bottom: .5%;
  opacity: .6;
}

.new-post-form input {
  width: 300px;
}

.edit-post-form {
  margin-bottom: 5%;
}

footer {
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: center;
  padding: 1%;
  font-size: 110%;
}